/public
/themes/*
!/themes/sk0
/themes/sk0/*
!/themes/sk0/package.json
!/themes/sk0/postcss.config.js
!/themes/sk0/archetypes
!/themes/sk0/layouts
!/themes/sk0/static
/themes/sk0/static/*
!/themes/sk0/static/common
/themes/sk0/static/common/*
!/themes/sk0/static/common/bundle.css
/yarn.lock
/node_modules
